body{
    overflow: scroll;
}
.fold{
    height: 0;
    opacity: 0;
    padding: 0;
}

.base-container{
    transition: all 0.5s ease-in-out;
}
.memo-change{
    margin-top: 10px;
}
.memo-container{
    z-index: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.memo{
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    width: 800px;
    height: 100px;
}
.memosize{
    height: 700px;
}
.prememo{
    display: flex;
    flex-direction: column;
}
.prememo > textarea{
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    width: 700px;
    height: 100px;
}
.prememo > span{
    border-radius: 10px;
    background-color: black;
    font-size: 20px;
    width: 100px;
    height: 30px;
}
.past{
    margin: 20px;
    color: black;
}
.check{
    background-color: white;
    color: teal;
    border: 1px solid teal;
}
button:disabled{
    background-color: rebeccapurple;
    color: black;
}
.base-button:disabled{
    background-color: white;
    color: teal;
    border: 1px solid teal;
}
button{
    z-index: 2;
}
#memo-button-container{
    margin: 5px;
    border-radius: 10px;
    background-color: black;
    opacity: 0.5;
}
button{
    opacity: 1;
}
@media (max-width: 1200px) and (orientation : portrait){
    body{
        height: 100vh;
    }
    textarea{
        font-size: 40px;
    }
    #button-container{
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    #memo-button-container{
        display: flex;
        flex-direction: column;
    }
}

@media (orientation : landscape){
    .memosize{
        height: 300px;
    }
}

@media (min-width: 1200px){
    body{
        height: 100vh;
    }
}