body{
    overflow: scroll;
}
.fold{
    height: 0;
    opacity: 0;
    padding: 0;
}

.base-container{
    transition: all 0.5s ease-in-out;
}

.memo-container{
    z-index: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.memo{
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    width: 800px;
    height: 100px;
}
.memosize{
    height: 700px;
}
.prememo{
    transition: all 0.5s ease-in-out;
    width: 700px;
    height: 100px;
}
.past{
    margin: 20px;
    color: black;
}
button{
    z-index: 2;
}
@media (max-width: 1200px) and (orientation : portrait){
    body{
        height: 100vh;
    }
    #button-container{
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    textarea{
        font-size: 40px;
    }
}

@media (orientation : landscape){
    .memosize{
        height: 300px;
    }
}

@media (min-width: 1200px){
    body{
        height: 100vh;
    }
}